
<h1>Classworks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classworks.each do |classwork| %>
      <% if classwork.work_type == 'assignment' %>
        <div class='w-100 d-flex flex-column card m-3 p-3'>
            <p class="d"><%= classwork.body %></p>
            <a class='nav-link' style='float: right;' role='button' href='/assignment/<%=classwork.id%>/submissions'>View Submissions</a>
        </div>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
