<%= form_with model: [classroom, classroom.announcements.build ] do |form| %>
  <p>
      <%= form.label :body %><br>
      <%= form.rich_text_area :body,  required: true%>
  </p>
  <p>
      <%= form.submit %>
  </p>
<% end %>
