<%= form_with model: [post, post.comments.build ] do |form| %>
    <p>Add a comment: <%= form.text_field :body, required: true %> <%= form.submit "post", :class => "btn btn-sm btn-outline-primary mb-2 mt-1 "%></p>
  <% end %>