
<div class="mb-3">
<%= form_with(model: userclass, local: true) do |form| %>
  <% if userclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userclass.errors.count, "error") %> prohibited this userclass from being saved:</h2>

      <ul>
      <% userclass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="classroom_form ">
    <div class="card">
      <div class='card-header d-flex flex-row justify-content-center'>
        <h4>Join Classroom</h4>
      </div>
      <div class="field card-body d-flex flex-column justify-content-center">
        <%= form.text_field :class_code, placeholder: "Enter Class code" %>
      </div>
      <div class="actions card-footer d-flex flex-row justify-content-center">
        <button type="submit" class="btn btn-primary">Join Classroom</button>
      </div>
    </div>

  </div>

<% end %>
</div>

<style type="text/css">

  .card:hover {
    box-shadow: 1px 1px 1px black;
    transform:scale(1);
  }

  .card {
    min-height: 300px;
    min-width: 500px;
    transition:.3s;
    margin: 3rem;
  }
</style>