
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <h3>Total Submissions: <%= @submissions.count %></h3>
  <% @submissions.each do |submission| %>
    <div class='d-flex flex-row card'>
      <span>Submitted by: <%= submission.user.email %> </span>
      <a target="_blank" rel="noopener noreferrer" href="<%= (url_for(submission.solution)) %>" 
        class='nav-link btn' role='button'>View</a>
      <iframe id='my_iframe' class='link' src="<%= (url_for(submission.solution)) %>" />
    </div>
  <% end %>
  </tbody>
</table>

<br>

