<form action="<%= post_suggestions_path(post) %>" data-remote = true method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if !parent.nil? %>
    <input type="hidden" name="suggestion[parent_id]" value="<%= parent.id %>">
  <% end %>

  <p>Add New Suggestion: <textarea  type="text_field" :body, required name="suggestion[body]" rows="3" cols="20"></textarea> <button type="submit"  class="btn btn-sm btn-outline-primary">Post</button></p>
</form>
