<div class="container">
<h1>Suggestions</h1>

<%if !@suggestion.nil?%>
  <% @suggestion.each do |sugg| %>
<div id="news" class="container-fluid mb-3">
  <div class="news-main-div row justify-content-center padding">
    <div class="card padding column justify-content-center pt-3">
      <div >
        <div>
          <p ><%= truncate(sugg.body.to_s, length: 100)%><br><br><a class= "btn btn-sm btn-outline-primary padding-left: 2.5em; padding-right: 2.5rem;" href="/posts/<%=sugg.post_id%>">Show post</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
    <% end %>
<%end%>
<br>
</div>